[submodule "optix-raytracer/ext/happly"]
	path = optix-raytracer/ext/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "optix-raytracer/ext/stb"]
	path = optix-raytracer/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "oprt/ext/happly"]
	path = oprt/ext/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "oprt/ext/stb"]
	path = oprt/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "oprt/ext/tinyexr"]
	path = oprt/ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
