[submodule "prayground/ext/happly"]
	path = prayground/ext/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "prayground/ext/stb"]
	path = prayground/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "prayground/ext/tinyexr"]
	path = prayground/ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "prayground/ext/glfw"]
	path = prayground/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "prayground/ext/tinyobjloader"]
	path = prayground/ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
